body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #555;
  text-decoration: none;
}
#app {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
}
#header {
  width: 100%;
  height: 36px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  background-color: transparent;
}
#logo {
  background: url("http://st.360buyimg.com/m/images/index/jd-sprites.png?v=13");
  background-size: 200px 200px;
  display: inline-block;
  width: 56px;
  height: 21px;
  background-position: 0 -109px;
  position: absolute;
  top: 5px;
  left: 10px;
}
#input {
  position: relative;
  top: 5px;
  left: 70px;
}
.search {
  width: 60%;
  border-radius: 25px;
  outline: none;
}
.search-btn {
  height: 25px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 0.8em;
}
#scroll-img {
  position: absolute;
  width: 100%;
  height: 25%;
  z-index: 100;
}
.scroll-image img {
  width: 100%;
  height: 150px;
}
.a {
  display: inline;
}
.b {
  display: none;
}
.c {
  display: none;
}
.d {
  display: none;
}
.e {
  display: none;
}
#slide-list {
  position: relative;
  top: -25px;
  text-align: center;
}
.spot {
  display: inline-block;
  border-radius: 7px;
  margin-right: 10px;
  width: 6px;
  height: 6px;
  border: 1px solid #fff;
}
.active {
  background-color: #fff;
}
#quick-nav {
  position: absolute;
  width: 100%;
  height: auto;
  color: #999;
  top: 165px;
  border-bottom: 1px solid #f2f2f2;
}
.quick {
  float: left;
  width: 25%;
  text-align: center;
  height: 80px;
}
.quick img {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  display: block;
}
.introduction {
  line-height: 25px;
  font-size: 13px;
}
#activity {
  position: absolute;
  top: 320px;
}
#activity img {
  width: 100%;
  height: 100px;
}
#quick-buy {
  position: absolute;
  top: 430px;
  color: #f00;
  padding-left: 5%;
  font-size: 15px;
}
#sales {
  height: 150px;
  width: 100%;
  position: absolute;
  text-align: center;
  line-height: 18px;
}
.second-kill {
  float: left;
}
.second-kill img {
  width: 145px;
  height: 150px;
}
.price {
  color: #f00;
  font-size: 15px;
}
.before-price {
  color: #999;
  font-size: 12px;
  text-decoration: line-through;
}
#container {
  position: absolute;
  top: 450px;
  height: 800px;
  width: 100%;
}
.list-content {
  list-style-type: none;
  width: 50%;
  height: 270px;
  float: left;
  text-align: center;
}
.list-content:hover {
  background-color: rgba(255,255,255,0.2);
}
.item-title {
  width: 160px;
}
